body{
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; 
}


.grid-container{
    display:grid;
    grid-gap: 10px;
    width: 500px;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}
#blue{
background-color: blue;
grid-column: 2/2;
grid-row: 2/2;
}
#red{
    background-color: red;
grid-column: 1/1;
grid-row: 1/1;
}
#green{
    background-color: green;
grid-column: 3/3;
grid-row: 3/3;
}
#pink{
    background-color: pink;
grid-column: 2/2;
grid-row: 3/3;
}